.forecast-card {
  height: 70vh;
  padding: 48px 24px 28px 24px;
}

.weather-card {
  padding: 52px 24px 24px 24px;
  height: 75vh;
}

.weather-card, .forecast-card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 43% 15% 42%;
  color: white;
  gap: 6px;
}

#circle-two {
  justify-content: flex-end;
  align-items: flex-end;
  margin-right: -40px;
}

#circle-three {
  grid-column: 2/4;
}

#circle-four {
  justify-content: flex-end;
  align-items: flex-start;
  margin-left: -40px;
}

.main-icon-info {
grid-column: 2/4;
display:flex;
justify-content: center;
align-items: center;
}

.main-icon-info > .main-icon {
  height: 128px;
  padding: 12px 0;
}

@media screen and (max-width: 768px) {
.weather-card, .forecast-card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 10% 40% 25% 25%;
  grid-template-areas:
  "location location location"
  "mainiconinfo mainiconinfo mainiconinfo"
  "circleone circletwo  circlethree"
  "circlefour circlefive circlefive";
  height: auto;
  padding: 12px 24px;
  color: white;
  gap: 18px;
}
.main-icon-info {
 grid-area: mainiconinfo;
}
#circle-one {
  grid-area: circleone;
  justify-content: flex-end;
  align-items: center;
}
#circle-two {
  grid-area: circletwo;
  margin-right: 0;
  align-items: center;
  justify-content: flex-end;
}
#circle-three {
  grid-area: circlethree;
  justify-content: flex-end;
  align-items: center;
}
#circle-four {
  grid-area: circlefour;
  margin-left: 0;
  grid-column: 1/3;
  align-items: center;
  justify-content: center;
}
#circle-five {
grid-area: circlefive;
grid-column: 2/4;
align-items: center;
justify-content: center;
} 
}