#city-weather-card {
  height: 70vh;
}

.weather-card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 45% 10% 45%;
  height: 75vh;
  padding: 52px 24px 24px 24px;
  color: white;
}

#circle-two,
#circle-four {
  justify-content: flex-end;
  align-items: flex-end;
}

#circle-three {
  align-items: flex-end;
}

#circle-one,
#circle-five {
  justify-content: flex-end;
}

.weather-card > .main-icon-container > .main-icon {
  height: 132px;
}

.weather-card > .main-icon-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 12px;
}

/* 656 */
@media screen and (max-width: 374px) {
#city-weather-card {
  height: auto;
}
.weather-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 10% 40% 25% 25%;
  grid-template-areas:
  "location location location"
  "mainicon maininfo maininfo" 
  "circleone circletwo  circlethree"
  "circlefour circlefive circlefive";
  height: auto;
  padding: 12px 24px;
  color: white;
  gap: 2px;
}
.main-icon-container {
  grid-area: mainicon; 
  margin-right: 0;
}
#circle-one {
  grid-area: circleone;
  display: grid;
  justify-content: flex-start;
}
#circle-two {
  position: relative;
  right: 25px;
}
#circle-three {
  grid-area: circlethree;
  align-items: center;
  display: grid;
  justify-content: flex-end;
}
#circle-four {
  grid-area: circlefour;
}
#circle-five {
grid-area: circlefive
}
.weather-card > .main-icon-container > .main-icon {
max-width: 132px;
}
}