.main-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 26px;
}

.temp-number {
  font-size: 54px;
  font-weight: 500;
  line-height: 54px;
}

@media screen and (max-width: 768px) {
.main-info {
  grid-area: maininfo;
  grid-column: 2/4;
  margin-left: 20px;
}
}