header {
    padding: 38px 24px;
    background-color: var(--color-yellow);
}

header nav, header ul, header li, header a {
    background-color: inherit;
    color: var(--color-darkest-blue);
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-left: 0;
    text-transform: uppercase
} 