header {
  max-height: 15vh;
}

nav {
  padding: 24px;
}

header nav,
header ul,
header li,
header a {
  background-color: inherit;
  color: var(--color-dark-blue);
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-left: 0;
  text-transform: uppercase;
}

li {
  min-width: 126px;
}

header a {
  font-weight: 500;
}

nav li:hover {
  transform: scale(1.1);
}

@media screen and (max-width: 768px) {
li {
  min-width: auto;
}
ul {
  justify-content: space-between;
}
}