footer {
  text-align: center;
  min-height: 10vh;
}

footer p {
  font-size: small;
  color: var(--color-dark-blue);
  background-color: inherit;
  padding: 24px;
}

footer a {
  font-weight: 700;
  color: var(--color-dark-blue);
  background-color: inherit;
}
