footer {
    padding: 38px 24px;
    text-align: center;
  }
  
  footer p {
    display: inline-block; 
    font-size: small;
    color: var(--color-darkest-blue);
  }
  
  footer a {
      font-weight: 700;
      color: var(--color-darkest-blue);
  }
  