@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200;300;500;700&display=swap');

@font-face {
  font-family: 'Kanit', sans-serif;
  src: url('https://fonts.googleapis.com/css2?family=Kanit:wght@200;300;500;700&display=swap');
  font-weight: 300;
  font-style: normal;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

:root {
  font-family: 'kanit', sans-serif;
  font-weight: 300;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --color-dark-blue: #005d89;
  --color-clear: #fec400;
  --color-rain: #01a0e1;
  --color-thunderstorm: #1e3050;
  --color-mist: #a1b4ce;
  --color-snow: #96c2da;
}

* {
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}