/* no scroll todo en el viewport  */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500;600;700&display=swap');

@font-face {
  font-family: 'Comfortaa', cursive;;
  src: url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500;600;700&display=swap');
  font-weight: 400;
  font-style: normal;
}

/* @keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */


:root {
  font-family: 'Comfortaa', cursive;;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --color-grey: #7b90a1;
  --color-light-blue: #e0f3f9;
  --color-blue: #01a0e1;
  --color-dark-blue: #005d89;
  --color-darkest-blue: #1E3050;
  --color-yellow: #fec400;
  --color-light-yellow: #ffe783;
}

* {
  margin: 0;
  box-sizing: border-box;
  color: var(--color-white);
  text-decoration: none;
  list-style: none;
  background-color: var(--color-light-yellow);
  color: var(--color-darkest-blue);
}




