.loading-error-figure {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    color: var(--color-dark-blue);
    height: 73vh;
    text-align: center;
    background-color: whitesmoke;
}

.loading-error-icon {
   height: 46px;
}

#loading {
    animation: spin 2s infinite linear
}